.add-btn-style {
    border-bottom: 1.5px solid #1A4F88 ;
}
.add-btn-style button {
    background: #1F5DA0 ;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.add-btn-style button:hover {
    opacity: 0.9;
}

.category-div {
    width: 1100px !important;
}

.category-btn-group-style {
    border-bottom: 1.5px solid #1A4F88;
}

.category-btn-style {
    background: #1F5DA0;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
}

.isValidate {
    border: 1px solid red !important;
}

.modal-title {
    color:#212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.submit-cancel-btn-style .submit-style {
    background:#1F5DA0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

.submit-cancel-btn-style .cancel-style {
    background:#323333;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

.submit-cancel-btn-style .submit-style:hover {
    opacity: 0.9;
}

.submit-cancel-btn-style .cancel-style:hover {
    opacity: 0.9;
}

.input-group-style label {
    color:#212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.input-group-style input {
    color:#212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.input-group-style select {
    color:#212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.card-style h5 {
    color:#212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.item-style .edit {
    color:#212529;
    cursor: pointer;
    font-size: 18px;
}
.item-style .delete {
    color:#212529;
    cursor: pointer;
    font-size: 18px;
}
.item-style .edit:hover {
    color: #1F5DA0;
}
.item-style .delete:hover {
    color: #D71110;

}

.item-style h5 {
    color:#212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.item-style p {
    color:#212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.column-style {
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
}

.image-style img {
    height: 100%;
}

.icon-style span:first-child:hover {
    color: #1F5DA0;
    cursor: pointer;
}

.icon-style span:last-child:hover {
    color: #D71110;
    cursor: pointer;
}

.offcanvas.show {
    visibility: visible;
  }

/* media query write here s */

@media only screen and (max-width: 2560px) {
    .container-style {
        max-width: 2300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1920px) {
    .container-style {
        max-width: 1800px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .container-style {
        max-width: 1300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}