.add-btn-style {
    border-bottom: 1.5px solid #1A4F88 ;
}
.add-btn-style button {
    background: #1F5DA0 ;
    color: #FFFFFF;
    cursor: pointer;
}
.add-btn-style button:hover {
    opacity: 0.9;
}

.submit-cancel-btn-group .cancel-btn {
    background:#323333;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}
.submit-cancel-btn-group .submit-btn {
    background:#1F5DA0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}
.submit-cancel-btn-group .cancel-btn:hover {
    opacity: 0.9;
}
.submit-cancel-btn-group .submit-btn:hover {
    opacity: 0.9;
}

.category-div {
    width: 1100px !important;
}

.details-div {
    width: 800px !important;
}

.category-btn-group-style {
    border-bottom: 1.5px solid #1A4F88;
}

.category-btn-style {
    background: #1F5DA0;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
}

.isValidate {
    border: 1px solid red !important;
}

.item-style .edit {
    color: #1F5DA0;
    cursor: pointer;
    font-size: 22px;
}
.item-style .delete {
    color: #D71110;
    cursor: pointer;
    font-size: 22px;
}

.column-style {
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
}

.image-style img {
    height: 100%;
}

.icon-style span:first-child:hover {
    color: #1F5DA0;
    cursor: pointer;
}
.icon-style span:nth-child(2):hover {
    color: #1F5DA0;
    cursor: pointer;
}

.icon-style span:last-child:hover {
    color: #D71110;
    cursor: pointer;
}

.offcanvas.show {
    visibility: visible;
  }

  .table-style thead tr th {
    color:#323333;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .table-style tbody tr td {
    color:#323333;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .details:hover {
    cursor: pointer;
    color: #1F5DA0;
  }

  .pagination-style {
    display: flex;
    justify-content: center;
}

.card-style h5 {
    color:#323333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.card-style p {
    color:#323333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: justify;
}
.card-style p span {
    color:#323333;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form-control {
    border: 1px solid gray;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #1F5DA0;
}

.form-select {
    border: 1px solid gray;
}

.form-select:focus {
    box-shadow: none;
    border: 1px solid #1F5DA0;
}

/* media query write here s */

@media only screen and (max-width: 2560px) {
    .container-style {
        max-width: 2300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1920px) {
    .container-style {
        max-width: 1800px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .container-style {
        max-width: 1300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}