.add-btn-style {
    border-bottom: 1.5px solid #1A4F88 ;
}
.add-btn-style button {
    background: #1F5DA0 ;
    color: #FFFFFF;
    cursor: pointer;
}
.add-btn-style button:hover {
    opacity: 0.9;
}

.category-div {
    width: 1100px !important;
}

.category-btn-group-style {
    border-bottom: 1.5px solid #1A4F88;
}

.category-btn-style {
    background: #1F5DA0;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
}

.isValidate {
    border: 1px solid red !important;
}


/* media query write here s */

@media only screen and (max-width: 2560px) {
    .container-style {
        max-width: 2300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1920px) {
    .container-style {
        max-width: 1800px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .container-style {
        max-width: 1300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}