.order-details{
    cursor: pointer;
}

.category-div {
    width: 1100px !important;
}


.offcanvas.show {
    visibility: visible;
  }

.image-style img {
    height: 100%;
}

.table-style thead tr th {
    color:#323333;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .table-style tbody tr td {
    color:#323333;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .details:hover {
    cursor: pointer;
    color: #1F5DA0;
  }

@media only screen and (max-width: 2560px) {
    .container-style {
        max-width: 2300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1920px) {
    .container-style {
        max-width: 1800px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .container-style {
        max-width: 1300px !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .container-style {
        max-width: 100% !important;
        margin: auto;
        margin-top: 30px;
    }
}